<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hördel</title>
    <link rel="stylesheet" type="text/css" href="../css/startup.css">
    <script type="module" src="../js/startup.js"></script>
</head>
<body>
    <main>
        <div id="content">
            <h1>Hördel</h1>
            <div id="select-div">
                <label for="select-div">Choose an alternative:</label>
                <select id="select" name="select">
                    <option value="alternative1">Alternative 1</option>
                    <option value="alternative2">Alternative 2</option>
                    <option value="alternative3">Alternative 3</option>
                    <option value="alternative4">Alternative 4</option>
                </select>
            </div>
            <button>Done</button>
        </div>
    </main>
</body>
</html>