<!DOCTYPE html><html lang="sv"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hördel</title>
    <link rel="stylesheet" type="text/css" href="/css/design.css">
    <link rel="icon" href="icon.png">
    <script src="https://kit.fontawesome.com/4ce1eac851.js" crossorigin="anonymous"></script>
    <script type="module" src="/js/startup.js"></script>
    <script id="access-token">var accessToken = "";</script>
</head>
<body>
    <main>
            <h1>Hördel</h1>          
    </main>
</body></html>