<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hördel</title>
    <link rel="icon" href="../icon.png">
    <link rel="stylesheet" type="text/css" href="/css/startup.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <main>
        <div id="content">
            <h1>Hördel</h1>
            <div id="select-div">
                <select id="select" name="select">
                    <option hidden disabled selected>Choose an alternative...</option>
                    <option value="1">Artist (by name)</option>
                    <option value="2">Artist (by ID)</option>
                    <option value="3">By Playlist</option>
                    <option value="4">By Album</option>
                    <option value="5">Specific song</option>
                    <option value="6">My top songs</option>
                </select>
                <textarea rows="1" disabled></textarea>
            </div>
            <button id="button">Done</button>
        </div>
    </main>
    <script type="module" src="/js/startup.js"></script>
    </body>
</html>