@import 'design.css';

body {
    overflow-y: hidden;
}

body, select, textarea, button {
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--light-color);
}

#select-div {
    display: flex;
    position: relative;
    margin-top: 20px;
    border: 1px solid var(--light-color);
    border-radius: 10px;
}

select, textarea {
    background-color: var(--dark-color);
    padding: 15px 10px;
    font-size: 20px;
    color: var(--light-color);
}

select {
    text-align: center;
    border: none;
    margin-right: 20px;
    border-radius: 10px;
    color: var(--gray-color);
}
select:focus {
    border: none;
    outline: none;
}

option {
    font-size: 18px;
    padding: 10px 20px;
    color: var(--light-color);
}
select, option {
    width: 350px;
}

textarea {
    outline: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0 10px 10px 0;
    resize: none;
    width: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}


button {
    margin: auto;
    background-color: green;
    padding: 8px 20px;
    border-radius: 10px;
    border:none;
    color: var(--light-color);
    margin-top: 20px;
    font-size: 17px;
}
